{% extends "base.html" %}
{% block title %}{{ _('Active Learning') }}{% endblock %}

{% block content %}
<div class="col s12">
    <h4 class="center">{{ _('Active Learning') }}</h4>
</div>
<div class="row">
    <form action="/al/new" method="post">
        <div class="input-field col s11">
            <input id="new_label" type="text" name="label">
            <label for="new_label">{{ _('New Active Learning') }}</label>
        </div>
        <div class="input-field col s1 center">
            <button class="btn waves-effect waves-light btn-narrow">
                <i class="material-icons right">add</i>
            </button>
        </div>
    </form>
    <div class="col card s12 tight-bottom">
        <table>
            <thead>
                <tr>
                    <th>{{ _('Label') }}</th>
                    {%for label in labels_types%}
                    <th style="width:80px;text-align: center;">{{ label[0] }}</th>
                    {%endfor%}
                    <th style="width:80px;text-align: center;">{{ _('Total') }}</th>
                    <th style="width:130px;text-align: center;">{{ _('Creator') }}</th>
                    {%if has_permition('delete_label') or has_permition('extract_labels') or
                    has_permition('catch_queue')%}
                    <th style="width:180px;text-align: center;">{{ _('Actions') }}</th>
                    {%endif%}
                </tr>
            </thead>
            <tbody>
                {% for label in labels %}
                {%if label.al_key%}
                <tr>
                    <td>{{ label.name }}</td>
                    {%for value, x, y, z in labels_types%}
                    <td style="text-align: center;">{%if value in values[label.id]%}{{ values[label.id][value]
                        }}{%else%}0{%endif%}</td>
                    {%endfor%}
                    <td style="text-align: center;">{{ values[label.id]["Total"] }}</td>
                    <td style="text-align: center;">{{ label.creator.name }}</td>

                    <td class="center-align">
                        {%if has_permition('catch_queue')%}
                        <a class="btn waves-ligh tooltipped data-position bottom" href='./al/{{label.id}}'
                            data-tooltip="{{ _('Open active learling queue') }}">
                            <i class="material-icons right">send</i>
                            {{_('Enter')}}
                        </a>
                        {%endif%}
                    </td>
                </tr>
                {%endif%}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}

{% block more_scripts %}
<script>
</script>
{% endblock %}