<!DOCTYPE html>
<html>

<head>
    <!-- Import Google Icon Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import materialize.css -->
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/materialize.min.css')}}" />
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />

    <!-- Let browser know website is optimized for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <title>{% block title %}{% endblock %} - {{ _('OLIM - Open Labeller for Iterative Machine learning')}}</title>
</head>

<body>
    <header>
        <ul id="slide-out" class="sidenav">
            {% if has_permition('search') %}
            <li><a href="{{ url_for('search') }}">{{ _('Search') }}</a></li>
            {% endif %}
            {% if has_permition('entry') %}
            <li><a href="{{ url_for('entry') }}">{{ _('Open Entries') }}</a></li>
            {% endif %}
            {% if has_permition('labels') %}
            <li><a href="{{ url_for('labels') }}">{{ _('Labels') }}</a></li>
            {% endif %}
            {% if has_permition('active_learning') and has_backend%}
            <li><a href="{{ url_for('active_learning') }}">{{ _('Active Learning') }}</a></li>
            {% endif %}
            {% if has_permition('new_queue') %}
            <li><a href="{{ url_for('new_queue') }}">{{ _('Queues') }}</a></li>
            {% endif %}
            {% if have_hidden() and has_permition('hidden') %}
            <li><a href="{{ url_for('hidden') }}">{{ _('Hidden texts') }}</a></li>
            {% endif %}
            {% if has_permition('users') %}
            <li><a href="{{ url_for('users') }}">{{ _('Users') }}</a></li>
            {% endif %}
            {% if has_permition('edit_password') %}
            <li><a href="{{ url_for('edit_password') }}">{{ _('Change Password') }}</a></li>
            {% endif %}
            {% if session['user_id'] == 'guest' %}
            <li><a href="{{ url_for('login') }}">{{ _('Login') }}</a></li>
            {% else %}
            <li><a href="{{ url_for('logout') }}">{{ _('Logout') }}</a></li>
            {% endif %}
        </ul>
        <nav>
            <div class="nav-wrapper cyan darken-4">
                <span class="brand-logo left tooltipped center"
                    data-tooltip="{{ _('Open Labeller for Iterative Machine learning') }}">
                    OLIM
                </span>
                <div class="nav-mobile left">
                    <span data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></span>
                </div>
            </div>
        </nav>
    </header>
    <div id="warning" class="modal">
        <div class="modal-content">
            <h4 id="warning-title"><i class="material-icons red-text text-darken-2">warning</i> {{
                _('Warning') }}</h4>
            <p id="warning-text">{{ _('A buch of text') }}</p>
        </div>
        <div class="modal-footer">
            <a class="modal-close red darken-3 btn waves-effect waves-red" id="warning-close">{{ _('Continue') }}</a>
            <a class="modal-close btn waves-effect waves-green">{{ _('Close') }}</a>
        </div>
    </div>
    <div class="container" style="margin-bottom: -30px;">
        <div class="row">
            <!-- Flash message divs -->
            {% with warning_messages = get_flashed_messages(category_filter=["warning"]) %}
            {% if warning_messages %}
            <div class="card orange lighten-5 col s12" id="warning-div">
                <div class="card-content">
                    <span class="right msg_close">
                        <a class='btn-flat tooltipped' data-position="bottom" data-tooltip="{{ _('Close') }}"
                            onclick="$('#warning-div').hide();">
                            <i class="material-icons grey-text text-darken-4">clear</i>
                        </a>
                    </span>
                    <!-- <span class="card-title orange-text">{{ _('Warning') }}</span> -->
                    {% for message in warning_messages %}
                    <p class="orange-text">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}

            {% with success_messages = get_flashed_messages(category_filter=["success"]) %}
            {% if success_messages %}
            <div class="card green lighten-5 col s12" id="success-div">
                <div class="card-content">
                    <span class="right msg_close">
                        <a class='btn-flat tooltipped' data-position="bottom" data-tooltip="{{ _('Close') }}"
                            onclick="$('#success-div').hide();">
                            <i class="material-icons grey-text text-darken-4">clear</i>
                        </a>
                    </span>
                    <!-- <span class="card-title green-text">{{ _('Success') }}</span> -->
                    {% for message in success_messages %}
                    <p class="green-text">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}

            {% with error_messages = get_flashed_messages(category_filter=["error"]) %}
            {% if error_messages %}
            <div class="card red lighten-5 col s12" id="error-div">
                <div class="card-content">
                    <span class="right msg_close">
                        <a class='btn-flat tooltipped' data-position="bottom" data-tooltip="{{ _('Close') }}"
                            onclick="$('#error-div').hide();">
                            <i class="material-icons grey-text text-darken-4">clear</i>
                        </a>
                    </span>
                    <!-- <span class="card-title red-text">{{ _('Error') }}</span> -->
                    {% for message in error_messages %}
                    <p class="red-text">{{ message }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <main>
        <div class="container" style="margin-top: 20px;">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer class="page-footer cyan darken-3">
        <div class="row">
            <div class="col s12 center">
                <a class="grey-text text-lighten-4" href="https://gitlab.com/nanogennari/olim">
                    {{ _('OLIM - Open Labeller for Iterative Machine learning') }}
                </a>
            </div>
        </div>
    </footer>
    <!-- JavaScript at end of body for optimized loading -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.highlight.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
        LABELS = {{ labels_array | safe }}
    </script>
    {% block scripts %}{% endblock %}
</body>

</html>