{% extends "base.html" %}
{% block title %}{{ _('Entry ') }}{{ entry_id }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col {% if valid_entry %}s9{% else %}s12{% endif %}">
        <div class="card">
            <div class="card-content row tight-bottom">
                <div class="input-field col m7 s12">
                    <input id="id" name="id" type="text" class="validate" value="{{entry_id}}">
                    <label for="id">{{ _('Entry ID') }}</label>
                </div>
                <div class="input-field col m5 s12" style="height:55px;">
                    <a class="btn waves-effect waves-light btn-wide"
                        onclick="window.location.href = '/entry/'+$('#id').val();">{{ _('Load Entry') }}
                        <i class="material-icons right">assignment</i>
                    </a>
                </div>
                {% if queue_id %}
                <div class="col s4" style="height:50px;">
                    <a class="waves-effect waves-light btn btn-wide{% if queue_pos == 1 %} disabled{% endif %}"
                        href="/queue/{{queue_id}}/{{queue_pos-1}}">
                        <i class="material-icons left">arrow_back</i>{{ _('Previous') }}
                    </a>
                </div>
                <div class="col s4" style="height:50px;">
                    <a class="waves-effect waves-light btn btn-wide" href="/new-queue/{{queue_id}}" target="_blank">
                        {{ queue_pos }}/{{ queue_len }}
                    </a>
                </div>
                <div class="col s4" style="height:50px;">
                    <a class="waves-effect waves-light btn btn-wide{% if queue_pos == queue_len %} disabled{% endif %}"
                        href="/queue/{{queue_id}}/{{queue_pos+1}}">
                        <i class="material-icons right">arrow_forward</i>{{ _('Next') }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if valid_entry %}
    <div class="col s3">
        <div class="toc-wrapper pinned labels-menu">
            <h5>{{ _('Labels') }}</h5>
            <div class="row" style="padding-top:15px;">
                <div id="labels">
                    {% if valid_entry %}
                    <div id="apply_all" class="input-field col s12 tight-top">
                        <span>Apply to all</span>
                        {% for label_str, type, icon, color in labels_rev %}
                        {% if type == 'text'%}
                        <a class="tooltipped right grey-text labels-text-icon cursor" data-position="bottom"
                            data-tooltip="Desmarcar todos" onclick="$('.{{label_str}}_unsel').click();">
                            <strong>{{icon}}</strong>
                        </a>
                        <a class="tooltipped right {{color}}-text labels-text-icon cursor" data-position="bottom"
                            data-tooltip="Marcar todos" onclick="$('.{{label_str}}_sel').click();">
                            <strong>{{icon}}</strong>
                        </a>
                        {% else %}
                        <a class="tooltipped right cursor" data-position="bottom" data-tooltip="Desmarcar todos"
                            onclick="$('.{{label_str}}_unsel').click();">
                            <i class="material-icons grey-text">{{icon}}</i>
                        </a>
                        <a class="tooltipped right cursor" data-position="bottom" data-tooltip="Marcar todos"
                            onclick="$('.{{label_str}}_sel').click();">
                            <i class="material-icons {{color}}-text">{{icon}}</i>
                        </a>
                        {%endif%}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% for label in labels%}
                    {% include 'labels-menu.html' %}
                    {% endfor %}
                </div>
                <div class="input-field col s12 tight-top">
                    <button id="show_hidden_btn"
                        class="btn waves-effect waves-light btn-wide hidden-entry{% if show_hidden %} hidden{% endif %}"
                        onclick='toggle_hidden(true)'>
                        {{ _('Show hidden') }}
                        <i class="material-icons right">remove_red_eye</i>
                    </button>
                    <button id="hidden_sel_btn"
                        class="btn btn-hide waves-effect waves-light btn-wide red darken-4 hidden-entry{% if not show_hidden %} hidden{% endif %}"
                        onclick='toggle_hidden(false)'>
                        {{ _('Hide hidden') }}
                        <i class="material-icons right">remove_red_eye</i>
                    </button>
                </div>
                <div class="input-field col s12 tight-top">
                    <button class="btn waves-effect waves-light btn-wide" onclick='expand_all(true)'>
                        {{ _('Expand all') }}
                        <i class="material-icons right">add</i>
                    </button>
                </div>
                <div class="input-field col s12 tight-top">
                    <button class="btn waves-effect waves-light btn-wide" onclick='retract_all(false)'>
                        {{ _('Retract all') }}
                        <i class="material-icons right">remove</i>
                    </button>
                </div>
                <div class="input-field col s12 chips tight-top" id="highlights">
                    <input style="width: max-content !important;">
                </div>
            </div>
        </div>
    </div>
    <div class="col s9">
        <div class="row">
            <div class="col s12">
                {{ entry_html|safe }}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        init_picker('#start-date', "{{ start_date }}");
        init_picker('#end-date', "{{ end_date }}");

        {% if valid_entry %}
        init_highlight({{ highlight| safe}});
    {% endif %}
    });

</script>
{% block more_scripts %}{% endblock %}
{% endblock %}