{% extends "base.html" %}
{% block title %}{{ _('Login') }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2 card">
        <div class="card-content">
            <span class="card-title">{{ _('Login') }}</span>
            <form method="POST" action="{{ url_for('login') }}">
                <div class="input-field">
                    <input id="username" type="text" name="username" required>
                    <label for="username">{{ _('Username') }}</label>
                </div>
                <div class="input-field">
                    <input id="password" type="password" name="password" required>
                    <label for="password">{{ _('Password') }}</label>
                </div>
                <input type="hidden" name="redirect" value="{{redirect}}">
                <button class="btn btn-wide waves-effect waves-light" type="submit" name="action">{{ _('Sign In') }}
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}