{% extends "base.html" %}
{% block title %}{{ _('Patient Search') }}{% endblock %}

{% block content %}
<div class="row">
    <form action="/search" method="GET" id="form">
        <div class="input-field col s12">
            <p class='tight-bottom' style="font-size: 24px;margin-top:0px;">
                <i class="material-icons green-text">check</i> {{ _('Inclusion of terms') }}
            </p>
            <div class="input-field tight-bottom" id="include">
                <input style="width: 100% !important;">
            </div>
        </div>
        <div class="input-field col s12">
            <p class='tight-bottom' style="font-size: 24px;margin-top:0px;">
                <i class="material-icons red-text">close</i> {{ _('Exclusion of terms') }}
            </p>
            <div class="input-field" id="exclude">
                <input style="width: 100% !important;">
            </div>

        </div>
        <div class="input-field col s12 m6">
            <input type="text" id="number" name="number" class="tooltipped" data-position="bottom"
                data-tooltip="{{ _('Number of Patients') }}" value="{{ number }}">
            <label for="number">{{ _('Number of Patients') }} <i class="material-icons left">inbox</i></label>
        </div>
        <div class="input-field col s12 m6">
            <label>
                <input type="checkbox" name="only-queue" />
                <span>{{ _('Generate queue only') }}</span>
            </label>
        </div>
        <div class="input-field col s12 center">
            <input type="hidden" name="include" id="include_field">
            <input type="hidden" name="exclude" id="exclude_field">
            <button class="btn waves-effect waves-light btn-wide">{{ _('Search') }}
                <i class="material-icons right">search</i>
            </button>
        </div>
    </form>
</div>
{% if results %}
<div class="row">
    <div class="col s12">
        <a class="waves-effect waves-light btn btn-wide" href="./queue/{{queue_id}}">
            <i class="material-icons right">send</i>{{ _('Open Queue') }}
        </a>
    </div>
    {%if not only_queue%}
    <div class="col s12">
        <div class="card day">
            {% for entry in results %}
            <div class="card-content blue-grey white-text patient-header" style="display:block;">
                <a href="./queue/{{queue_id}}/{{loop.index}}" class="btn btn-float right" target="_blank">{{ _('Open')
                    }}</a>
                <p><b>{{ entry['entry_id'] }}</b>: {{ entry['description'] }}</p>
                <span class="small-title">
                    {{ _('Occurences: {} - Score of Search: {}').format(entry['match_count'], entry["score"])
                    }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    {%endif%}
</div>
{% else %}
<h4 class="center">{{ _('No results for the search') }}</h4>
{% endif %}

{% endblock %}
{% block scripts %}
<script>
    function update_search(id) {
        var data = $('#' + id + ' .chip').map(function () {
            var text = $(this).text()
            return text.substring(0, text.length - 5);
        }).get();
        $('#' + id + '_field').val(JSON.stringify(data));
    }

    function init_field(id, data) {
        let elems = document.querySelector('#' + id);
        let options = {
            onChipAdd: () => update_search(id),
            onChipDelete: () => update_search(id),
            placeholder: '{{ _('Add terms(type and press ENTER)') }}',
            secondaryPlaceholder: '{{ _('Add more terms(type and press ENTER)') }}',
            data: data,
        }
        let instances = M.Chips.init(elems, options);
        $('#' + id + ' input').on('focusout', function () { set_chip(id); });
    }

    function set_chip(id) {
        M.Chips.getInstance($('#' + id)).addChip({ tag: $('#' + id + ' input').val() });
        $('#' + id + ' input').val("");
    }

    $(document).ready(function () {
        $('#form').on('submit', function () {
            update_search("include");
            update_search("exclude");
            return true
        });
        init_field('include', JSON.parse('{{ include | safe }}'));
        init_field('exclude', JSON.parse('{{ exclude | safe }}'));
        $(".patient-body").highlight({{ highlight | safe }});
    });
</script>
{% endblock %}