<div class="card">
    <div class="card-content text-entry">
        <span class="card-title">
            {{res['_source']['text']}}
        </span>
    </div>
    <div class="card-action text-entry">
        <ul>
            {% for key in res['_source'].keys() %}
            {% if key != 'text' %}
            <li><b>{{key}}</b>: {{res['_source'][key]}}</li>
            {%endif%}
            {%endfor%}
        </ul>
    </div>
</div>